$main-font                            : sans-serif;

$body-background                      : #fafafa;
$side-nav-border                      : #2f4048;
$side-nav-dropdown-background         : #fcfcfc;
$user-on                              : #1aae88;
$panel-background                     : #fcfcfc;

$dark-color                           : #263238;
$green                                : #71c21a;
$red                                  : #e33244;
$yellow                               : #FBC02D;
$blue                                 : #5797fc;